<!-- *ngFor directive is being used to display all returned movies, where each movie is displayed in its own card. 
In the expression let movie of movies;, "movies" refers to the movies variable declared in the component file -->
<app-navbar class="nav-bar"></app-navbar>
<div class="movies-container">
  <mat-card *ngFor="let movie of movies; let i =index">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container">
      <img src={{movie.ImageUrl}} alt={{movie.Title}} />
    </div>
    <mat-card-actions>
      <button mat-button color="warning"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">Genre</button>
      <button mat-button color="warning"
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthyear, movie.Director.Deathyear)">Director</button>
      <button mat-button color="warning"
        (click)="openSynopsisDialog(movie.Title, movie.ImageUrl, movie.Description, movie.Genre.Name)">Synopsis</button>


      <button mat-icon-button (click)="toggleFavorite(movie)">
        <mat-icon *ngIf="!isFavorite(movie._id)"> favorite_border </mat-icon>
        <mat-icon *ngIf="isFavorite(movie._id)"> favorite </mat-icon>
      </button>

    </mat-card-actions>
  </mat-card>
</div>